.main
  .main__header
    .main__container
      .btn_area
        = link_to "Edit",edit_group_path(@group), class:"btn" 
      .main__header_group
        %h1
          = @group.name
        = render 'temp/member'

  .main__body
    .messages
      = render partial: "temp/message", collection: @messages 
    .form
      = form_for [@group, @message], html: {id: "new_comment"} do |f|
        .input_box
        = f.text_field :text, class:'form__message', placeholder: "type a message"
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'