.message{"data-id": "#{message.id}", "data-user-name": "#{message.user.name}", "data-image": "#{message.image}", "data-text": "#{message.text}", "data-created-at": "#{message.created_at}"}
  .message__info.clearfix
    %p.message__info_upper_name
      = message.user.name
    %p.message__info_upper_date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.text.present?
    %p.message__text
      = message.text
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?