.side
  .side__header
    .user__info
      %ul.user__info__menu
        %li
          = link_to new_group_path, class: "menu" do
            = fa_icon 'edit'
        %li
          = link_to edit_user_path(current_user), class: "menu" do
            = fa_icon 'cog'
      .user__info_name 
        = current_user.name
  .groups_contents
    .groups
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "menu" do
          .group
            .group__group_name
              = group.name
            .group__last_message
              これが最後のテキスト